# Database Connection URL (MySQL)
DATABASE_URL="mysql://root:password@127.0.0.1:3306/zk_password_manager"

# Symmetric Secret Key for JWT Signing (Must be at least 32+ characters in production)
JWT_SECRET="supersecrettestingkey123"

# Node Environment
NODE_ENV="development"
